# Java files #
*.class
*.jar
*.war
*.ear
CodeFormatter.iml
CodeChanger.iml

# IDE files #
.idea/
*.iml
*.sublime-*

# Other files and folders #
target/
out/
bin/
logs/

ForTest_Stream_In.java
ForTest_Stream_Out.java